<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>(n)on blogging</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&family=Roboto:wght@400;500&display=swap" rel="stylesheet" />
  </head>
  <style>
    * {
      font-family: "Noto Serif KR", serif;
      color: #78715e;
    }

    body {
      background-color: #ece8e4;
      position: relative;
    }

    header {
      background-color: #e1ddd6;
      position: fixed;
      z-index: 100;
      height: 40px;
      width: 100%;
    }

    nav {
      background-color: #e1ddd6;
    }

    main {
      min-height: 1700px;
      position: relative;
    }

    footer {
      font-size: smaller;
      height: 140px;
      background-color: #78715e;
      text-align: center;
      color: whitesmoke;
    }

    .line {
      position: relative;
      color: #78715e;
      top: -20px;
      opacity: 1;
    }

    .topBox {
      position: relative;
      top: 80px;
      width: 97%;
      height: 300px;
      margin: 5px;
      padding: 30px;
      z-index: 1;
      border: 1px solid #78715e;
    }

    .topBoxContent {
      position: absolute;
      right: -30px;
      z-index: 3;
      width: 40%;
      height: 299px;
      top: 75px;
      padding-top: 20px;
    }

    .imageBox {
      position: absolute;
      width: 60%;
      height: 299px;
      z-index: 2;
      overflow: hidden;
      left: 0px;
      top: 0px;
    }

    .topBar {
      position: relative;
      border: 1px solid #78715e;
      text-align: center;
      width: 97%;
      height: 37px;
      top: 81px;
    }

    .blogBox {
      position: relative;
      top: 100px;
      margin: 5px;
      padding: 1px;
    }

    .blogTopic {
      position: relative;
      padding: 5px;
    }

    /* .profileBox{
      position: fixed;
      top: 10px;
    } */

    /* .myBox {
      position: sticky, fixed;
      top: 550px;
      transform: translateY(-50%);
      overflow-y: scroll;

    } */
    @media (min-height: 781px) {
      .myBox {
        position: sticky;
        top: calc(50% + 180px);
        /* topBar의 높이를 고려하여 40px 추가 */
        transform: translateY(-50%);
      }
    }

    @media (max-height: 780px) {
      .myBox {
        position: fixed;
        bottom: 0;
        top: auto;
        transform: translateY(0);
      }
    }

    @media (max-height: 860px) and (min-height: 601px) {
      .myBox {
        position: fixed;
        bottom: 140px;
        /* 푸터의 높이에 따라 조절하세요 */
        top: auto;
        transform: translateY(0);
      }
    }

    /* 추가된 스타일 */
    body.footer-visible .myBox {
      display: block;
      position: fixed;
      bottom: 140px;
      /* 푸터의 높이에 따라 조절하세요 */
      top: auto;
      transform: translateY(0);
    }

    #clock {
      font-size: 400%;
    }
  </style>

  <body>
    <header><%- include ('fragment/header') %></header>
    <!-- <hr class="line"/> -->
    <% function removeHtmlTags(input) { return input.replace(/<[^>]*>/g, ''); }
    %> <% const alternativeImagePath = '/noImage.png'; %>

    <!-- ------------main------------ -->
    <main>
      <!-- 상단 박스 (이미지, 콘텐츠) 영역 -->
      <div class="topBox mx-auto">
        <div class="imageBox"></div>
        <div class="topBoxContent mx-1">
          <div id="welcome">Welcome to (n)on blogging.</div>
          <div class="showDate" id="whatDay">오늘 날짜?</div>
          <div class="showTimeJs" id="clock"></div>
        </div>
      </div>

      <!-- 아래 긴 박스 영역 -->
      <div class="topBar mx-auto blogTopic" id="whatTopic">
        What's today's blog topic?
      </div>

      <!-- 블로그 박스 영역 -->
      <div class="blogBox">
        <!--왼쪽 프로필 영역  -->
        <!-- <div class="row g-5  mt-1 "> -->
        <div class="row mb-12">
          <div class="profileBox col-md-2 d-none d-lg-block">
            <div class="myBox row g-0 flex-md-row mb-4 h-md-250 position-fixed" id="myBox" style="width: 160px; height: 200px; background-color: #ece8e4">
              <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">
                  Hi,<br />
                  there!
                </h3>
                <br />
                <p class="card-text mb-auto">
                  친구들의<br />블로그를 <br />둘러보세요!
                </p>
              </div>
              <div class="col-auto d-none d-lg-block"></div>
            </div>
          </div>

          <div class="col-md-10">
            <!-- 부모 요소 추가 -->
            <div class="row" style="justify-content: space-around">
              <% blogs.forEach((blog) => { %>
              <div class="col-md-5 mb-4 px-0">
                <div class="row g-0 overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <h5 class="mb-2"><%= blog.title %></h5>
                    <p class="card-text mb-auto">
                      <%= removeHtmlTags(blog.content) %>
                    </p>
                    <a href="<%= blog.noteId %>" class="btn btn-outline-secondary">Go</a>
                  </div>

                  <div class="col-auto d-flex align-items-center justify-content-center" style="
                      background-color: #e0e0e0;
                      width: 200px;
                      height: 250px;
                      overflow: hidden;
                    ">
                    <img src="http://<%=blog.img%>" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover" onerror="handleImageError(this, '<%= alternativeImagePath %>')" alt="썸네일" aria-label="Placeholder: Thumbnail" focusable="false" />
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- ------------footer------------ -->
    <footer><%- include ('fragment/footer') %></footer>

    <script src="/allblog.js"></script>
    <script>
      function goToBlog(noteId) {
        window.location.href = `/notebook/${noteId}`;
      }

      function handleImageError(img, alternativeImagePath) {
        img.src = alternativeImagePath;
        img.alt = "대체 이미지";
      }
    </script>
  </body>
</html>