<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My blog</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&family=Roboto:wght@400;500&display=swap" rel="stylesheet" />
    <style>
      * {
        font-family: "Noto Serif KR", serif;
        color: #78715e;
      }
    </style>
    <script>
      const removeHtmlTags = (input) => {
        const doc = new DOMParser().parseFromString(input, "text/html");
        return doc.body.textContent || "";
      };
    </script>
  </head>
  <body style="background-color: #ece8e4">
    <% const alternativeImagePath = '/noImage.png'; %>
    <div>
      <header><%- include ('fragment/header') %></header>
      <div style="margin: 30px">
        <div>
          <div style="text-align: center">
            <%= user.email%> 님 안녕하세요. 오늘도 좋은 글 남겨주세요.
            <hr />
          </div>
          <% function removeHtmlTags(input) { return input.replace(/<[^>]*>/g,
          ''); } %>
          <a style="text-decoration: none" href="/notebook/<%=note[0].noteId%>">

            <div style="display: flex; align-items:center; justify-content: space-around;" class="border rounded-1 p-3">
              <img style="padding: 1rem; width: 300px; height: 100%; object-fit: cover;" src="<%=note[0].img%>" alt="Image" />
              <div class="text-container" style="font-size: 17px">
                <%= removeHtmlTags(note[0].title) %>
                <p style="margin-top: 10px; font-size: 13px">
                  <%= removeHtmlTags(note[0].content) %>
                </p>
              </div>
            </div>
          </a>
          <div>
            <% const onblogging = () => { %> location.href = "/notebook/write";
            <% }; %>
            <button type="button" onclick="onblogging()" class="btn mb-4" style="
                width: 100%;
                height: 50px;
                color: white;
                background-color: #ae7f5f;
              ">
              Blogging 하기
            </button>

            <div class="row" style="margin: 0 0.1%">
              <% note.map(noteInfo => { %>
              <div class="col-md-6">
                <a style="text-decoration: none" href="/notebook/<%=noteInfo.noteId%>">
                  <div style="
                      display: flex;
                      align-items: center;
                      margin-bottom: 50px;
                    " class="border rounded-1 p-3">
                    <img style="height: auto; width: 60%; padding: 1rem" src="<%=noteInfo.img%>" alt="Image" onerror="handleImageError(this, '<%= alternativeImagePath %>')" />
                    <div class="text-container" style="font-size: 17px">
                      <%= removeHtmlTags(noteInfo.title) %>
                      <p style="margin-top: 10px; font-size: 13px" id="tag">
                        <%= removeHtmlTags(noteInfo.content) %>
                      </p>
                    </div>
                  </div>
                </a>
              </div>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <%- include ('fragment/footer') %>
      </footer>


      <%- include ('fragment/functions') %>


      <script>
        const extractTextPattern = /(<([^>]+)>)/gi;

        let target = document.getElementById("tag");

        let src = target.innerHTML;
        console.log(src);
        let extractedText = src.replace(extractTextPattern, "");
        console.log(extractedText);
        setTimeout(() => {
          target.innerHTML = extractedText;
        }, 500);

        const onblogging = () => {
          location.href = "/notebook/write";
        };

        function handleImageError(img, alternativeImagePath) {
          img.src = alternativeImagePath;
          img.alt = "대체 이미지";
        }
      </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


  </body>
</html>